<h4>{{#link-to 'index'}}Back to index{{/link-to}}</h4>
<h2>Question</h2>
<p>{{model.question}}</p>
<p><strong>Posted by:</strong> {{model.user}} <strong>at</strong> {{model.time}}</p>
<p><strong>Last edit at</strong> {{model.lastEdit}}</p>


{{update-question question=model update="update"}}
<button {{action 'delete' model}}>Delete Question</button>
